.formControl{
    margin-bottom: 1rem;
}
label{
    display: block;
}
input{
    width: 15rem;
    padding: 0.5rem;
    border-radius: 0.2rem;
    margin-top: 1rem;
    outline: 0;
    border: 1px solid #ccc;
    transition: all 0.5s ease-in;
}
input:focus{
     border: 1px solid #0284c7;
}
